
/*!
 * Marvin basic settting
 */
body {
  background-color: #222222;
}
html, body {
  height: 100%;
}
.fill-height {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}
canvas {
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  height: 100%
}

#three-viewport {
  height: 350px;
}


.wrapper {
  padding-left: 250px; /* Define design area position, compare to left sidebar */
  background-color: #333333;
}
.page-wrapper {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.side-nav-left {
  position: fixed;
  left: 250px;
  width: 250px;
  margin-left: -250px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222222; /* First level panel color */
}

.side-nav-left>li>a {
  width: 250px;
}

.side-nav-left li a:hover,
.side-nav-left li a:focus {
  /* outline: none; */
  /* background-color: #111111 !important; /* First level hover and focus panel color */
  color: #ffffff;
  font-weight: bold;
}

.side-nav-left>li>a {
  border-bottom: 1px solid #171717;
}

.panel-second-list>ul {
  padding: 0;
}

.panel-second-list>ul>li {
  padding: 0;
  border-bottom: 1px solid #303030;
  background-color: #373737; /* Second level color */
}

.panel-second-list>ul>li>a {
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
  background-color: #3c3c3c; /* Second level panel color */
  color: #9d9d9d; /* Second level text color */
}

.panel-second-list>ul>li>a:hover {
  background-color: #555555 !important; /* Second level hover panel color */
  color: #ffffff; /* hover text color */
  font-weight: bold;
}

.panel-third-list>ul {
  padding: 0;
}

.panel-third-list>ul>li {
  padding: 0;
  border-bottom: 1px solid #303030;
}

.panel-third-list>ul>li>a {
  display: block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  background-color: #6f6f6f; /* third level panel color */
  color: #9d9d9d; /* third level text color */
}

.side-nav-left .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.form-control-enter-text {
  width: 100%;
}

.side-nav-left .arrow {
  float: right;
}
.side-nav-left .fa.arrow:before {
  content: "\f104";
}